.applicationManagmentAdminFilter {
  display: flex;
  gap: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  background: #547147;
  border-radius: 0px 20px 0px 0px;
}
.applicationManagmentAdminFilter__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.applicationManagmentAdminFilter__radioBox label {
  display: flex;
  align-items: center;
}
.applicationManagmentAdminFilter__radioBox label span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  pointer-events: none;
}
.applicationManagmentAdminFilter__radioBox label span.arrow {
  color: #547147;
}

.radio {
  width: 35px;
  height: 25px;
  border-radius: 10% 50%;
  border: none;
}
.radio:hover {
  box-shadow: 0px 0px 4px 4px #547147 inset;
  border: 1px #FFFFFF solid;
}

.applicationManagmentAdmin {
  font-family: "Montserrat", Times, serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #547147;
  margin-bottom: 95px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 0px 0px 20px 20px;
}
.applicationManagmentAdmin__item {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid #404936;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 15px;
}
.applicationManagmentAdmin__item_iner:nth-last-child(1) {
  border-right: 0px;
  width: 192px;
}
.applicationManagmentAdmin__item_iner {
  height: 90px;
  width: 136px;
  border-right: 1px solid #404936;
}
.applicationManagmentAdmin__item_iner-title {
  display: flex;
  justify-content: center;
  height: 33px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background: rgba(217, 217, 217, 0.5);
  color: #333333;
  border-bottom: 1px solid #404936;
}
.applicationManagmentAdmin__item_iner .borderRight {
  border-radius: 0 15px 0 0;
}
.applicationManagmentAdmin__item_iner .borderLeft {
  border-radius: 15px 0 0 0;
}
.applicationManagmentAdmin__item_iner-key {
  display: flex;
  justify-content: center;
  height: 57px;
  align-items: center;
  word-break: break-all;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}
.applicationManagmentAdmin__item_iner-key-input {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 11px;
  border: 1px solid transparent;
  border-right: none;
  border-top: none;
  resize: none;
  overflow-y: auto;
  background: transparent;
  font-size: 10px;
  padding: 5px;
}
.applicationManagmentAdmin__item_iner-key-input:focus {
  outline: none;
  border: 1px solid #547147;
}
.applicationManagmentAdmin__item_iner-key-input::-webkit-scrollbar {
  width: 8px;
}
.applicationManagmentAdmin__item_iner-key-input::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 0 0 280px 0;
}
.applicationManagmentAdmin__item_iner-key-input::-webkit-scrollbar-thumb {
  background-color: #547147;
  border-radius: 0 0 280px 0;
  height: 10px;
}

.yellow {
  background-color: rgba(211, 230, 48, 0.3764705882);
}

.green {
  background-color: rgba(132, 184, 109, 0.3764705882);
}

.rose {
  background-color: rgba(188, 143, 143, 0.3764705882);
}/*# sourceMappingURL=applicationManagement.css.map */