.applicationManagmentAdminFilter {
    display: flex;
    gap: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    background: #547147;
    border-radius: 0px 20px 0px 0px;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
    }

    &__radioBox {
        & label {
            display: flex;
            align-items: center;

            & span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                pointer-events: none;
                &.arrow{
                    color: #547147;
                }
            }
        }
    }
}
.radio{
    width: 35px;
    height: 25px;
    border-radius: 10% 50%;
    border: none;
    &:hover {
        box-shadow: 0px 0px 4px 4px #547147 inset;
        border:1px #FFFFFF solid  ;
      }
}
.applicationManagmentAdmin {
    font-family: 'Montserrat', Times, serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #547147;
    margin-bottom: 95px;
    backdrop-filter: blur(25px);
    border-radius: 0px 0px 20px 20px;

    &__item {
        display: flex;
        margin-bottom: 15px;
        border: 1px solid #404936;
        backdrop-filter: blur(25px);
        border-radius: 15px;

        &_iner:nth-last-child(1) {
            border-right: 0px;
            width: 192px;
        }

        &_iner {
            height: 90px;
            width: 136px;
            border-right: 1px solid #404936;
            

            &-title {
                display: flex;
                justify-content: center;
                height: 33px;
                align-items: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                background: rgba(217, 217, 217, 0.5);
                color: #333333;
            }

            .borderRight {
                border-radius: 0 15px 0 0;
            }

            .borderLeft {
                border-radius: 15px 0 0 0;
            }

            &-key {
                display: flex;
                justify-content: center;
                height: 57px;
                align-items: center;
                word-break: break-all;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #333333;
                
                &-input {
                    width: 100%;
                    height: 100%;
                    border-bottom-right-radius: 11px;
                    border: 1px solid transparent;
                    border-right: none;
                    border-top: none;
                    resize: none;
                    overflow-y: auto;
                    background: transparent;

                    &:focus {
                        outline: none;
                        border: 1px solid #547147;
                    }

                    &::-webkit-scrollbar {
                        width: 8px;
                      }
                      
                    &::-webkit-scrollbar-track {
                        background-color: #e4e4e4;
                        border-radius: 0 0 280px 0;
                      }
                      
                    &::-webkit-scrollbar-thumb {
                        background-color: #547147;
                        border-radius: 0 0 280px 0;
                        height: 10px;
                      }
                }
            }
        }
    }
}
.yellow{
    background-color: #d3e63060;
}
.green{
    background-color: #84b86d60;
}
.rose{
    background-color: #bc8f8f60;
}