.cancelModal__background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.cancelModal__modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 35px;
  padding-top: 160px;
  width: 530px;
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.cancelModal__close{
  position: absolute;
  top: 25px;
  right: 30px;
}

.cancelModal__close:hover{
  cursor: pointer;
}
.cancelModal__text{
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #333333;
  font-family: 'Montserrat';
  margin-bottom: 140px;

}
.cancelModal__boldText{
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #333333;
  font-family: 'Montserrat';
  margin-bottom: 140px;
  font-weight: bold;
}

.cancelModal__hrefText{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #547147;
}

@media (max-width: 500px) {
  .cancelModal__modal{
  padding-top: 120px;
  max-width: 335px;
  max-height: 300px;

  }
  .cancelModal__text{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 95px;
  }
  .cancelModal__boldText{
    font-size: 18px;
    line-height: 20px;
  }
  .cancelModal__hrefText{
    font-size: 16px;
    line-height: 20px;
  }
}