@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Inter:wght@200;400;600;700;900&family=Montserrat:wght@100;200;400;600;700;800;900&display=swap');

.details {
    background: #FFFFFF;
    border-radius: 20px;
    width: 1301px;
    padding: 90px 40px 40px;
    display: flex;
    min-height: 873px;
}

.details__images {
    margin-right: 40px;

    &_img {
        border-radius: 20px;
        margin-bottom: 30px;
        width: 450px;
        height: 450px;
        object-fit: cover;
    }
    
  .flex_row {
        display: flex;
        justify-content: space-between;
    }

    &_mini {
        display: flex;
        justify-content: space-between;
    }

    &_img_mini {
        width: 130px;
        height: 130px;
        border-radius: 20px;
        object-fit: cover;	
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.details__body {
    &_title {
        font-family: 'Montserrat';
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: #333333;
    }

    h3 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 20px;
    }
}

.details__selectionPrice {
    display: flex;

    .details__price {
        margin-right: 50px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
        color: #333333;
    }

    .details__selection {
        padding: 10px 20px;
        background: #E8E8E8;
        border-radius: 40px;
        border: 1px solid #E8E8E8;
    }
}

.details__btn {
    background: #547147;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 18px 32px;
    border: 1px solid #547147;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 40px;

    &:hover,
    &:active {
        color: #547147;
        background: #FFFFFF;

    }
}

.details__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    .details__text {
        height: 440px;
        overflow: auto;
        p {
            margin-bottom: 10px;
        }
    }
    
}