//color
$green: #547147;
$dark-grey: #333333;
$white: #ffffff;
$black: #000000;
$light-gray: #888888; 


//Каталог впечатлений главная страница
//Блок каталог впечатлений 
.catalogImpressions {   
  max-width: 1401px;
  margin: 100px auto;

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
    font-family: 'Montserrat';
    margin-bottom: 40px;
  }
  
}

//Заголовок

//Блок с карточками
.catalogCard {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  padding: 0 50px;
}



//Карточка товара
.card {
  max-height: 681px;
  width: calc( ( 100% - 80px ) / 3 );
  background: $white;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0 0 40px 0;
  &:nth-child(3n-1){
    margin-left:40px;
    margin-right:40px;
  }
  
  img {
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    text-align: center;
    margin: 0 auto;
    height: 297px;
  }
  &__title {
    color: #333333;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    cursor: pointer;
  }
  &__body {
    text-align: center;
    width: 100%;
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 44px;
      color: $dark-grey;
      font-family: 'Montserrat';
    }  
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $light-gray;
      font-family: 'Montserrat';
      cursor: pointer;
      &:hover {
        color: $black;
      }
    }
  }
}

//Кнопка заказать
.cardBtn {
  padding: 12px 95px;
  text-align: center;
  background: $green;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $white;
  border: 1px solid $green;
  cursor: pointer;
  margin: 24px 0 20px;
  &:hover {
    color: $green;
    background-color: $white;
  }
}

@media (max-width: 1200px) {
  .catalogCard {
    padding: 0 20px;
  }
  .card {
    max-height: 650px;
    &__block {
      height: 300px;
    }
    &__title {
      font-size: 30px;
      line-height: 35px;
    }
    &__body {
      h1 {
        font-size: 35px;
        line-height: 30px;
      }  
    }
  }
  .cardBtn {
    padding: 12px 80px;
    margin: 10px 0 10px;
  }
}

@media (max-width: 1050px) {
  .card {
    max-height: 500px;
    &__block {
      padding: 10px;
      height: 210px;
    }
    &__title {
      font-size: 25px;
      line-height: 25px;
    }
    &__body {
      h1 {
        font-size: 30px;
        line-height: 30px;
      }  
      p{
        font-size: 15px;
      }
    }
  }
  .cardBtn {
    padding: 12px 70px;
    margin: 10px 0 10px;
  }
}

@media (max-width: 950px) {
  .catalogImpressions {   
    margin: 50px auto;
  }
  .card {
    max-height: 500px;
    &__block {
      padding: 10px;
      height: 210px;
    }
    &__title {
      font-size: 22px;
      line-height: 25px;
    }
    &__body {
      h1 {
        font-size: 27px;
        line-height: 30px;
      }  
      p{
        font-size: 15px;
      }
    }
}
  .cardBtn {
    padding: 10px 50px;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 5px;
  }
}

@media (max-width: 750px) {
  .catalogCard {
    padding: 0 10px;
  }
  .card {
    width: calc( ( 100% - 40px ) / 3 );
    border-radius: 8px;
    margin: 0 0 20px 0;
    &:nth-child(3n-1){
      margin-left:20px;
      margin-right:20px;
    }
    img {
      border-radius: 8px 8px 0px 0px;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .card {
    max-height: 380px;
    &__block {
      padding: 10px;
      height: 180px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
    }
    &__body {
      h1 {
        font-size: 22px;
        line-height: 27px;
      }  
      p{
        font-size: 14px;
      }
    }
  }
  .cardBtn {
    padding: 10px 40px;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 5px;
  }
}
@media (max-width: 660px) {
.catalogImpressions {   
  margin: 50px auto;
  .title {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 30px;
  } 
}
}
  @media (max-width: 555px) {
    .card {
      width: 158px;
      height: 314px;
      border-radius: 8px;
      &__block {
        padding: 10px;
        height: 165px;
      }
      &__title {
        font-size: 16px;
        line-height: 20px;
      }
      &__body {
        h1 {
          font-size: 20px;
          line-height: 24px;
        }  
        p{
          font-size: 12px;
          line-height: 16px;
        }
      }
    } 
    .cardBtn {
      padding: 8px 40px;
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0 10px;
    } 
}

@media (max-width: 550px) {
  .catalogCard {
    padding: 0 0px;
  }
  .card {
    &:nth-child(3n-1){
      margin-left:10px;
      margin-right:10px;
    }
    margin: 10px;
  }
}

@media (max-width: 372px) {
  .card {
    width: 100%;
    max-height: 600px;
    height: 100%;
    &__block {
      height: 100%;
    }
  }
}