@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Inter:wght@200;400;600;700;900&family=Montserrat:wght@100;200;400;600;700;800;900&display=swap');

.catalogImpressions {
  max-width: 1301px;
  margin: 0 auto;
  padding: 50px 0;
}

.title {
font-weight: 700;
font-size: 40px;
line-height: 50px;
text-align: center;
text-transform: uppercase;
color: #333333;
font-family: 'Montserrat';
margin-bottom: 50px;
}

.catalogCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
 max-width: 280px;
 max-height: 650px;
margin: 20px 5px;
 background: #FFFFFF;
 box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
 z-index: 1;

 &__img {
  max-height: 270px;
  img {
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    max-width: 280px;
    max-height: 270px;
  }
 }

 &__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
  text-align: center;
  margin: 0 auto;
  height: 190px;
 }

 &__title {
  color: #333333;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
  &__mobile700 {
    display: none;
    color: #333333;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
  }
  &__mobile1300 {
    display: block;
    color: #333333;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
 }

 &__body {
  text-align: center;
  width: 100%;

  h1 {
   font-weight: 600;
   font-size: 20px;
   line-height: 20px;
   color: #333333;
   font-family: 'Montserrat';
  }

  p{
   font-weight: 500;
font-size: 15px;
line-height: 10px;
color: #888888;
font-family: 'Montserrat';
cursor: pointer;
    &:hover {
      color: #000;
    }
  }
 }
}

.cardBtn {
  padding: 8px 40px;
  text-align: center;
  background: #547147;
  border-radius: 40px;
  font-family: 'Montserrat';
 font-weight: 700;
 font-size: 15px;
 line-height: 24px;
 color: #FFFFFF;
 border: 1px solid #547147;
 cursor: pointer;
 margin: 15px 0;
 &:hover {
  color: #547147;
  background-color: #FFFFFF;
  border: 1px solid #547147;
 }
}

@media (max-width: 900px) {
  .catalogImpressions {
    .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
    }
  }

    .card {
      max-width: 158px;
      max-height: 314px;
      margin: 10px;
      border-radius: 8px;
      &__img {
        max-height: 150px;
        img {
          border-radius: 8px 8px 0px 0px;
          cursor: pointer;
          max-width: 158px;
          max-height: 150px;
        }
      }
      &__block {
        padding: 10px;
        height: 164px;
     }
    
     &__title {
      font-size: 16px;
      line-height: 20px;
      &__mobile700 {
        display:block;
        font-size: 16px;
        line-height: 20px;
      }
      &__mobile1300 {
        display: none;
      }
     }
     &__body {
      h1 {
       font-size: 20px;
       line-height: 24px;
      }
    
      p{
        font-size: 12px;
        line-height: 16px;
      }
     }
    }
    .cardBtn {
      padding: 8px 40px;
     font-size: 12px;
     line-height: 16px;
     margin: 15px 0;
  }
}