.sended {
  position: relative;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 530px;

  & img {
    margin-top: 112px;
  }

  &__text {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #333333;

    &-normal {
      font-weight: 400px;
    }

    &-bold {
      font-weight: bold;
    }
  }

  &__info {
    margin-top: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }

  &__logo {
    margin-bottom: 15px;
  }

  & button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;

    & img {
      margin: 0;
    }
  }
}
@media (max-width: 500px) {
  .sended {
    max-width: 325px;
    max-height: 485px ;
    & img {
      margin-top:80px;
    }
  
    &__text {
      margin-top: 40px;
      font-size: 24px;
      line-height: 26px;
    }
  
    &__info {
      margin-top: 20px;
      text-align: center;
      width: 220px;
    }
  
    &__logo {
      margin-top: 70px;
    }
}
}