.questions {
    font-family: 'Montserrat';
    margin-top: 100px;
    margin-bottom: 95px;

    & .questions-item {
        border-bottom: 2px solid #EAEBEF;
        padding: 20px 0;
        cursor: pointer;
    }

    & .questions-item:last-child {
        border-bottom: none;
    }

    & .questions-header {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 67px;
    }

    & .questions-title {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 30px;
        color: #333333;
        border: style 2px;

        & .questions-title__width {
            padding-right: 30px;
        }
    }

    & .questions-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        padding-top: 15px;
    }

    & .questions-arrow {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 620px) {
    .questions {
        font-family: 'Montserrat';
        margin: 60px 0 60px;

        & .questions-item {
            padding: 15px 0;
        }

        & .questions-header {
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 30px;
            width: 95%;
        }

        & .questions-title {
            font-size: 16px;
            line-height: 20px;
        }

        & .questions-content {
            font-size: 14px;
            line-height: 18px;
        }

        & .questions-arrow {
            width: 40px;
            height: 40px;
        }
    }
}
