.myComments {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 859px;
  width: 100%;

  & h3 {
    max-width: 859px;
    width: 100%;
    height: 60px;
    background: #547147;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }

  &__list{
    width: 100%;
  }

  &__item {
    width: 100%;
    min-height: 150px;
    margin: 10px auto;
    background: #FFFFFF;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    display: grid;
    grid-template-columns:  auto 30px;
    padding: 20px 10px 10px 20px;
    position: relative;
    z-index: -10;
  }

  &__desc {
   
    &_info {
      display: flex;
      gap: 12px;
    }
    &-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #888888;
    
    }

    &-name {
      margin-top: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
    }

    &-rating {
      margin-top: 5px;
    }

    &-text {
      margin-top: 5px;
      padding-left: 100px;
      max-width: 638px;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      box-sizing: border-box;
    }
  }

  &__img {
  
    img {
        width: 88px;
        height: 88px;
        border-radius: 8px;
    }
}

  &__delete {
    align-self: end;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  &__no {
    margin-top: 3px;
    width: 100%;
    padding: 50px 5px;
    background: #FFFFFF;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #547147;
    border-radius: 15px;
    z-index: -10;

    &__text {
      margin-top: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 870px) {
  .myComments {
    margin-top: 35px;

    &__item {
      margin: 5px auto;
      padding: 15px 10px 10px 15px;
    }
    &__desc {
   
      &-text {
        margin-top: 10px;
        padding-left: 0;

      }
    }
    &__no {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
  
      &__text {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__img {
  
      img {
          width: 60px;
          height: 60px;
      }
  }

  }
}