.center{
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px); 
  }
  .contact {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  }
  .contact__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contact__text__tall {
    font-weight: 800;
  }
  .contact__text__a {
    text-decoration: none;
    color: #547147;
  }
  .form {
    border-radius: 1.25rem;
    box-shadow: 0 20px 40px 10px rgba(0,0,0,0.25);
  }