.formLogin {
  max-width: 600px;
  width: 100%;
  margin: 70px auto 95px;
  font-family: 'Montserrat';

  & h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }

  &__box {
    background: #FFFFFF;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 65px;
  }

  & form {
    margin-top: 80px;
    max-width: 470px;
    width: 100%;

    & input {
      width: 100%;
      height: 60px;
      background: #FFFFFF;
      border: 1px solid #C2C2C2;
      border-radius: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
      padding: 20px 15px;
      margin-bottom: 29px;
    }
  }

  &__checkbox {
    justify-self: flex-start;
    display: flex;
    gap: 15px;

    & label {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #547147;
    }
  }

  &__btn-enter-exit {
    margin: 10px auto 20px;
    display: block;
    background: #547147;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 377px;
    height: 56px;
  }

  &__googleAuth {
    background: #FFFFFF;
    border: 1.5px solid #547147;
    border-radius: 40px;
    width: 377px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #547147;
    }
  }

  &__question {
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #888888;
  }

  &__link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #888888;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    max-width: 600px;
    min-height: 84px;
    outline: 2px solid #4285F4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #4285F4;
  }

  &__errorMes {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -21px;
    margin-bottom: 7px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9B0F0F;
  }
}

#formLogin-saveMe {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #547147;
  border-radius: 5px;
}





@media only screen and (max-width: 620px) {
  .formLogin {
    max-width: 500px;
    margin: 70px auto 70px;

    & h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 25px;
      margin-bottom: 35px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
    }

    &__errorMes {
      margin-top: -11px;
      margin-bottom: 5px;
      font-size: 11px;
    }

    & form {
      margin-top: 60px;
      max-width: 330px;
      width: 100%;

      & input {
        width: 100%;
        height: 46px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        padding: 13px 0 13px 15px;
        margin-bottom: 15px;
      }
    }

    &__btn-enter-exit {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      width: 300px;
      height: 50px;
    }

    &__googleAuth {
      width: 300px;
      height: 50px;
      gap: 18px;

      & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
      }
    }



    &__checkbox {
      gap: 10px;

      & label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        text-align: center;
        padding-top: 6px;
      }
    }

    &__question {
      margin-top: 40px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    &__link {
      margin-top: 10px;
      font-size: 16px;
      line-height: 16px;
    }

    #formLogin-saveMe {
      width: 24px;
      height: 24px;
      background: #FFFFFF;
      border: 1px solid #547147;
      border-radius: 5px;
    }
  }
}









@media only screen and (max-width: 375px) {
  .formLogin {
    margin: 70px auto 60px;

    & h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 35px;
      text-align: center;
      text-transform: uppercase;
      color: #333333;
    }

    & form {
      margin-top: 40px;
      max-width: 300px;
      width: 100%;

      & input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 13px 0 13px 15px;
        margin-bottom: 15px;
      }
    }

    &__btn-enter-exit {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      width: 280px;
      height: 48px;
    }

    &__googleAuth {
      width: 280px;
      height: 48px;
      gap: 15px;

      & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
      }
    }



    &__checkbox {
      gap: 10px;

      & label {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        padding-top: 4px;
      }
    }

    &__question {
      margin-top: 40px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }

    &__link {
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }

    #formLogin-saveMe {
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid #547147;
      border-radius: 5px;
    }
  }
}


@media only screen and (max-width: 325px) {
  .formLogin {
    margin: 30px auto 60px;

    &__box {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}