.filterBox{ 
  margin: 0 auto; 
  width: fit-content; 
  border-radius: 40px; 
   
} 
h5{ 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 30px; 
  line-height: 34px; 
  text-align: center; 
  color: #333333; 
} 
.boxForm{ 
  max-width: 100%;
  width: fit-content; 
  display: flex; 
  justify-content: space-between; 
  margin-top: 35px; 
  margin-bottom: 50px; 
  gap:3%;
} 
.radioBox{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  white-space: nowrap;
}
.inputsBox{ 
  width: 470px; 
  height: 64px; 
  display: flex; 
  align-items: center; 
  padding: 0px; 
  gap: 35px; 
} 
.inputFilter{ 
  width: 40%;
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 700; 
  font-size: 15px; 
  line-height: 24px; 
  text-align: center; 
  color: #547147; 
  border-radius: 40px; 
 cursor: pointer;
  border: 1px solid #547147; 
  padding:8px 5%; 
} 

.submit{ 
  padding:8px 40px;
  text-align: center; 
  background: #547147; 
  border-radius: 40px; 
  font-family: 'Montserrat'; 
  font-weight: 700; 
  font-size: 15px; 
  line-height: 24px; 
  color: #FFFFFF; 
  border: 1px solid #547147; 
  cursor: pointer; 
  &:hover { 
     color: #547147; 
      background-color: #FFFFFF; 
      border: 1px solid #547147; 
   
    } 
   
} 