.filterWrapper{
  width: 100%;
  background-color: #F6F1E4;;
  border-radius:20px ;
  margin-bottom: 40px;
}
.filterBox{ 
  margin: 0 auto; 
  width: fit-content; 
} 
h5{ 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 30px; 
  line-height: 34px; 
  text-align: center; 
  color: #333333; 
} 
.boxForm{ 
  max-width: 100%;
  display: flex; 
  justify-content: space-between; 
  margin-top: 35px ;
  
  gap:10%;
} 
.radioBox{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 6%;
}
.inputsBox{ 
display: grid;
grid-template-columns: 1fr 5fr 1fr 5fr;
grid-template-rows: 1fr 1fr;
align-items: center;
justify-items: start;
grid-row-gap:25px;
margin-bottom: 40px
} 

.inputFilter{ 
  width: 80%;
  min-width: 50%;
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 700; 
  font-size: 15px; 
  line-height: 24px; 
  text-align: center; 
  color: #404936; 
  border-radius: 40px; 
 cursor: pointer;
  border: 1px solid #404936; 
  padding:8px 5%; 
} 
.prefix{
  color:#404936;
  padding: 0 5px;
  vertical-align: super;
  margin: 0;
}


.submit{ 
  width: 80%;
  min-width: 50%;
  padding:8px;
  text-align: center; 
  background: #DFA650; 
  border-radius: 40px; 
  font-family: 'Montserrat'; 
  font-weight: 700; 
  font-size: 15px; 
  line-height: 24px; 
  color: #FFFFFF; 
  border: 1px solid #DFA650; 
  cursor: pointer; 
  &:hover { 
     color: #DFA650; 
      background-color: #FFFFFF; 
      border: 1px solid #DFA650; 
   
    } 
   
} 
.filters{
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .boxForm{ 
    max-width: 100%;
    display: flex; 
    justify-content: center; 
    margin-top: 20px ;
    align-items:center;
    flex-direction: column;
  } 
  .radioBox{
 margin-bottom: 30px;
 justify-content: center;
  }
  .inputsBox{ 
    grid-row-gap:15px;
    margin-bottom: 20px;
    padding: 0px 15px;
    } 
}
