.reviews {
    font-family: 'Montserrat';
}

.reviews__header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 50px;
    line-height: 50px;
}

.review__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    img {
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }
}

.review {
    h3 {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #333333;
        line-height: 50px;
    }
}

.review__body {
    margin: 0 100px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    .review__text {
        max-width: 900px;
        h2 {
            font-weight: 700;
            font-size: 30px;
            color: #333333;
            line-height: 50px;
        }
        span {
            color: #547147;
            padding: 0 5px 0 0;
            margin-bottom: 5px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }
    } 
}


.swiper-button-prev:after,
.swiper-button-next:after {
    color: #e8e8e8;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after{
    color: #547147;
}

.swiper, swiper-container {
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}


@media (max-width: 1000px) {
    .review__card {
        margin-right: 30px;
    }    
    .review__body {
        margin: 0 70px;
    } 
}

@media (max-width: 700px) {
    .review__card {
        display: none;
    }    
    .review__body {
        margin: 0px;
        justify-content: center;
        text-align: center;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: #e8e8e8;
        display: none;
    } 
}

@media (max-width: 660px) {
    .reviews__header {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    
    .review {
        h3 {
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    .review__body {
        .review__text {
            max-width: 900px;
            h2 {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
            span {
                color: #547147;
                padding: 0 5px 0 0;
                margin-bottom: 5px;
                svg {
                  width: 20px;
                  height: 20px;  
                }
            }
            p {
                font-size: 14px;
                line-height: 18px;
            }
        } 
    }  
    .swiper-wrapper {
        align-items: start;
    }
     
}