.application {
    background: #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    max-width: 530px;
    padding: 30px;
    display: flex;
    flex-direction: column;    
    gap: 20px;    
}

.application__head {
    margin: 0 0 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.application__head__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.application__input {
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    padding: 20px 15px;
    color: #333333;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.application__input:focus {
    outline: none;
    border: 1px solid #547147
}
.application__checkbox {
    align-self: flex-start;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
}

.application__btn {
    background: #547147;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 16px 32px;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;   
}
.application__btn:hover{
    background: #FFFFFF;
    border: 1px solid #547147;
    color: #547147;
}
.application__btn:active{
    background: #547147;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.application__checkbox__input {
    margin-right: 10px;
}