.application {
    background: #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    max-width: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__head {
        margin: 0 0 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
        color: #333333;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        &__title {
            font-weight: 600;
            font-size: 30px;
            line-height: 34px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__select {
        position: relative;
        top: 0;
    }

    &__input,
    &__user-text {
        width: 100%;
        border: 1px solid #C2C2C2;
        border-radius: 10px;
        padding: 20px 15px;
        color: #333333;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border: 1px solid #547147
        }

        &_false {
            border: 4px solid #e21010;
            padding: 20px 15px;
        }
    }

    &__checkbox {
        align-self: flex-start;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #333333;
        margin-top: 56px;

        &__input {
            margin-right: 10px;
        }
    }

    &__btn {
        background: #547147;
        border-radius: 40px;
        color: #FFFFFF;
        padding: 16px 32px;
        border: 1px solid #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        &:hover {
            background: #FFFFFF;
            border: 1px solid #547147;
            color: #547147;
        }

        &:active {
            background: #547147;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
    }
}






@media (max-width: 920px) {
    .application {
        max-width: 440px;
        padding: 20px;

        &__head {
            font-size: 22px;
            line-height: 28px;

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__input,
        &__user-text {
            width: 100%;
            padding: 15px;
            font-size: 14px;
            line-height: 18px;

            &_false {
                padding: 15px;
            }
        }

        &__checkbox {
            margin-top: 46px;
        }

        &__btn {
            padding: 11px 22px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}


@media (max-width: 800px) {
    .application {
        max-width: 100%;
        min-width: 390px;
        padding: 20px;

        &__head {
            font-size: 24px;
            line-height: 28px;

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__input,
        &__user-text {
            width: 100%;
            padding: 15px;
            font-size: 14px;
            line-height: 18px;

            &_false {
                padding: 15px;
            }
        }

        &__checkbox {
            margin-top: 46px;
        }

        &__btn {
            padding: 11px 22px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (max-width: 735px) {
    .application {
        max-width: 100%;
        min-width: 340px;
        padding: 20px;

        &__head {
            font-size: 22px;
            line-height: 28px;

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

    }
}

@media (max-width: 710px) {
    .application {
        min-width: 320px;
        padding: 18px;

        &__head {
            font-size: 20px;
            line-height: 28px;

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

    }
}


@media (max-width: 500px) {
    .application {
        max-width: 100%;
        padding: 20px;

        &__head {
            font-size: 24px;
            line-height: 28px;

            &__title {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__input,
        &__user-text {
            max-width: 100%;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            line-height: 18px;

            &_false {
                padding: 15px;
            }
        }

        &__checkbox {
            margin-top: 44px;
        }

        &__btn {
            padding: 11px 22px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (max-width: 320px) {
    .application {
        width: 300px;
        padding: 14px;
        margin: 0 auto;

        &__head {
            font-size: 24px;
            line-height: 28px;

            &__title {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__input,
        &__user-text {
            max-width: 100%;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            line-height: 18px;

            &_false {
                padding: 15px;
            }
        }

        &__checkbox {
            margin-top: 31px;
        }

        &__btn {
            padding: 11px 22px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}