.account {
  margin: 76px auto 95px;
  
  & h1 {
    text-align: center;
  }

  &__box {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__sideBar {
    max-width: none;
    width: 100%;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    height: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 304px;
      width: 100%;
      margin: 107px auto 121px;
      padding: 0 8px;

      &-link {
        max-width: 100%;
        background: #547147;
        border: 1px solid #547147;
        backdrop-filter: blur(25px);
        border-radius: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        height: 60px;
        margin-bottom: 40px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: #547147;
          background-color: #FFFFFF;
          border: 1px solid #547147;
        }
      }
    }

    &-btn-exit {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #888888;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}

.active {
  color: #547147;
  background: #FFFFFF;
}

@media (max-width: 500px) {
  .account {
    margin: 50px auto 60px;
    & h1 {
    font-size:21px;
    line-height:25px;
    }
    &__box {
      margin-top: 35px;
      flex-direction: column;
      align-items:center;
    }
    &__sideBar {
      display: flex;
      margin-bottom: 15px;
      &-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 304px;
        width: 100%;
        margin: 15px auto 15px;
        padding: 0 8px;
          &-link {
            height: 48px;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 15px;
          }
      }
    .shellMenu{
      border: none;
      align-self: flex-start;
      margin-top: 12px;
    }
    &-linkItem{
      margin: 0;
    }
    }
   
  }
  
}