.account {
  margin: 76px auto 95px;

  & h1 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }

  &__box {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__sideBar {
    max-width: 382px;
    width: 100%;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    height: 568px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 304px;
      width: 100%;
      margin: 107px auto 121px;

      &-link {
        width: 100%;
        background: #547147;
        border: 1px solid #547147;
        backdrop-filter: blur(25px);
        border-radius: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        height: 60px;
        margin-bottom: 40px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: #547147;
          background-color: #FFFFFF;
          border: 1px solid #547147;
        }
      }
    }

    &-btn-exit {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #888888;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}

.active {
  color: #547147;
  background: #FFFFFF;
}

@media only screen and (max-width: 620px) {
  .account {

    &__box {
      flex-direction: column;
      flex-direction: column;
      align-items: center;
      gap: 30px;

    }
  }
}



@media (max-width: 500px) {
  .account {
    margin: 76px auto 60px;

    &__box {
      flex-direction: column;
      margin-top: 35px;
      gap: 30px;
    }
  }

  @media only screen and (max-width: 375px) {
    .account {
      margin: 50px auto 60px;

      &__box {
        flex-direction: column;
        margin-top: 35px;
        gap: 30px;
      }
    }

    .personalData {



      &__top {
        gap: 10px;
      }
    }

  }

}