.commentUser {
  max-width: 860px;
  width: 100%;
  border: 1px solid #547147;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrraper {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
  }
  padding: 0 20px;

  & h3 {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #547147;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 55px auto 0;
  }
  &__rating {
    & span {
      padding: 0;
    }
  }
  &__item {
    display: flex;  
    margin-bottom: 17px;
    gap: 40px;

    &-text {
      width: 100px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #547147;
      
    }

    &-select {
      position: relative;
      top: 0;
    }

    &__raiting {
      display: flex;
      align-items: center;
    }
    
    & input {
      max-width: 440px;
      width: 100%;
      height: 52px;
      background: #FFFFFF;
      border: 1px solid #C2C2C2;
      border-radius: 10px;
      padding: 6px 12px;
    }

    & textarea {
      max-width: 440px;
      width: 100%;
      height: 220px;
      background: #FFFFFF;
      border: 1px solid #C2C2C2;
      border-radius: 10px;
      padding: 6px 12px;
      resize: none;
    }
  }

  &__btn-save {
    width: 100%;
    max-width: 468px;
    margin: 0 auto 25px;
    height: 54px;
    border: none;
    background: #547147;
    border-radius: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      color: #547147;
      background-color: #FFFFFF;
      border: 1px solid #547147;
    }
  }

  &__btn-myComments {
    margin: 0 auto 15px;
    max-width: 468px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #547147;
    border-radius: 10px;
    height: 44px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #547147;
  }
}

.comment-textarea {
  margin-top: 31px;
 
}

@media (max-width: 870px) {
  .commentUser {
    padding: 0 20px 15px;
    gap: 15px;
  
    & h3 {
      margin-top: 15px;
      margin-bottom: 5px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      gap: 25px;
    }

    &__item {
      margin: 0;
      
      &-input {
        flex-direction: column;
        gap: 5px; 
        width: 100%;
      }

      & input {
        height: 48px;
       
      }

      & textarea {
        height: 176px;
       
        
      }
    }

    &__btn-save {
      margin: 0;
      width: 100%;
      height: 44px;
      font-size: 16px;
      line-height: 18px;
    }

    &__btn-myComments {
      margin: 0 auto 0;
    }
  }
  .comment-textarea {
    margin-top: 44px;
  }
  

}

