.completed {
  max-width: 860px;
  width: 100%;
  border: 1px solid #547147;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  &__item {
    margin: 20px 0;
    padding: 15px;
    max-width: 818px;
    width: 100%;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1100px) {
      align-items: flex-start;
      display: block;
      position: relative;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 1100px) {
        align-self: start;
      }

      & img {
        border-radius: 8px;

        @media (max-width: 1100px) {
          align-self: start;
          margin: 0 0 20px 0;
        }
      }
    }

    &-desc {

      @media (max-width: 1100px) {
          width: 100%;
        }
    
      p {
        margin: 4px 0;

        @media (max-width: 1100px) {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          line-height: 14px;
        }

        & span {
          font-weight: 600;
          font-size: 18px;
          color: #000;

          @media (max-width: 1100px) {
            flex-basis: 60%;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            overflow-wrap: anywhere;
          }
        }
      }
    }  

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (max-width: 1100px) {
        position: absolute;
        top: 13px;
        right: 15px;
      }
    }

    &-status {
      margin-top: 8px;
      width: 217px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #547147;
      backdrop-filter: blur(25px);
      border-radius: 10px;

      @media (max-width: 1100px) {
        width: 100%;
        padding: 0 9px;
      }

      &-text {
        margin: 10px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #547147;

        @media (max-width: 1100px) {
          font-size: 11px;
          line-height: 12px;
          margin: 6px 0;
        }
      }
    }
  }

  &__select {
    height: 31px;
    border: none;
    background: #547147;
    border-radius: 10px !important;
    margin-bottom: 17px;
    color: #fff;

    &:active {
      border: none;
      outline: none;
    }

    @media (max-width: 1100px) {
      margin: 0 0 6px 0;
      font-weight: 700 !important;
      font-size: 12px !important;
      line-height: 1.5em !important;
      text-align: center ;
    }

  }

  &__info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #547147;
    
    @media (max-width: 1100px) {
      font-size: 12px;
      line-height: 14px
    }

    &-delete {
      border: none;
      background: transparent;
      color: #9B0F0F;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;

      & span {
        color: #9B0F0F;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.completed-delete {
  background: #E8E8E8;
}

.completed__selected-delete {
  background: #888888;
}

.completed__delete-text {
  color: #333333;
}

.completed-end {
  background: #F6F1E4;
}

.css-1e65mp1-MuiFormControl-root {
  @media (max-width: 1100px) {
    margin: 0 !important;
  }

   @media (max-width: 365px) {
    min-width: auto !important;
  }
}