.personalData {
  max-width: 860px;
  width: 100%;
  border: 1px solid #547147;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;

  &__top {
    max-width: 766px;
    width: 100%;
    margin: 0 auto;
    padding: 33px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-bottom: 1px solid #547147;
  }

  &__wrapper {
    margin-top:50px;
    
  }

  &__input-item {
    width: 465px;
    margin: 0 auto 36px;
    display: flex;
    align-items: center;

    & span {
      display: inline;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #547147;
      width: 56px;
    }
    

    & p,
    & input {
      border: 1px solid #C2C2C2;
      border-radius: 10px;
      width: 315px;
      height: 48px;
      margin: 0 23px 0 64px;
      display: flex;
      align-items: center;
      padding-left: 12px;
    }

    & button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__btn-save {
    width: 214px;
    margin: 20px auto 55px;
    height: 54px;
    border: none;
    background: #547147;
    border-radius: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      color: #547147;
      background-color: #FFFFFF;
      border: 1px solid #547147;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    max-width: 600px;
    min-height: 84px;
    outline: 2px solid #4285F4;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #4285F4;
  }

  &__loader {
    margin: 0 auto;
  }
}
.shellMenu{
  display: none;
}
.mobile{
  display: none;
}
@media (max-width: 800px) {
  .personalData{
    &__top{
      & h2{
        font-size: 16px;
        line-height: 21px;
      }
      
    }
    &__wrapper {
        margin-top:30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    &__input-item {
      max-width: 465px;
      min-width: 160px;
      width: 100%;
      & p{
        margin: 0 12px;
        width: 100%;
        min-width: 160px;
      }
  }
  &__btn-save {
    width: 95%;
    max-width: 280px;
    margin: 20px auto 40px;
    height: 48px;
  }
}
}
@media(max-width:500px){
  .shellMenu{
    display: flex;
    align-items: center;
    margin-bottom: 30px ;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #547147;
    .item{
    margin: 0 15px 0 0;
    }
  }
  .mobile{
      margin-bottom: 7px;
      color: #547147;
      display: inline;
  }
  .personalData__wrapper{
    width: 95%;
  }
  .personalData__input-item {
  & span{
    display: none;
  }
  & p{
    width: 100%;
  }
}
.personalData__top{
 & h2 {
  font-size: 16px;
  line-height: 21px;
} 
& img{
    width: 30px;
}
} 

.personalData__btn-save{
  margin: 0 auto 40px;
}
}

