.stocks {
    font-family: 'Montserrat', Times, serif;

    & h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        margin: 20px;
    }

    .stockSlider {
        max-width: 1300px;
        max-height: 450px;
        background-image: url(../../assets/stocks/stocksBack.png);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        margin: 50px auto;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;

        &__info {
            &_action {
                color: #FFFFFF;
                font-weight: 500;
                font-size: 30px;
                line-height: 34px;
                padding: 15px 50px 15px 60px;
                background-image: url(../../assets/stocks/actionBack.png);
                background-repeat: no-repeat;
                background-size: contain;
                margin-top: 45px;
            }

            & h2 {
                font-weight: 700;
                font-size: 50px;
                line-height: 54px;
                color: #404936;
                text-transform: uppercase;
                max-width: 600px;
                margin: 20px 0 0 60px;
            }

            &_price {
                font-weight: 700;
                font-size: 35px;
                line-height: 34px;
                color: #404936;
                margin: 25px 0 0 60px;

                & span {
                    color: #A3A3A3;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 34px;
                    text-decoration: line-through;
                    padding-right: 32px;
                }
            }

            &_btn {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                padding: 12px 24px;
                background-color: #547147;
                border-radius: 40px;
                margin: 31px 0 0 60px;
                text-decoration: none;
                border: none;
                cursor: pointer;

                &:hover {
                    color: #547147;
                    background-color: #FFFFFF;
                    border: 1px solid #547147;
                }

            }
        }

        &__imgBlock {
            position: relative;
            overflow: hidden;
            padding-left: 35px;

            &_img {
                clip-path: polygon(17% 0, 100% 0, 100% 100%, 2% 100%);
            }
        }

        &__imgBlock::before {
            content: "";
            position: absolute;
            z-index: 1;
            height: 121%;
            transform: rotate(9deg);
            top: -20px;
            padding-left: 45px;
            background-color: #547147;
        }
    }
}