.subscription-contain {
    border: 1px solid #547147;
    border-radius: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 16px 25px;
    gap: 15px;
    font-family: 'Montserrat', Times, serif;
    color: #333333;
    margin: 0 0 94px 0;
}

.subscription-box {
    overflow: hidden;
    border: 1px solid #404936;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.subscription__no {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #547147;
    padding: 50px 5px; 
    background: #FFFFFF;
    border: 1px solid #547147;
    backdrop-filter: blur(25px);
    border-radius: 0px 20px 20px 20px; 
}

.box-name {
    flex-basis: 100%;
    text-align: center;
    vertical-align: baseline;
    border-right: 1px solid #888888;

    &__title {
        background: #d9d9d980;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        border-bottom: 1px solid #404936;
    }

    &__info {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-wrap: anywhere;
        min-height: 67px;
    }
}

.box-email {
    flex-basis: 100%;
    text-align: center;

    &__title {
        background: #d9d9d980;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        border-bottom: 1px solid #404936;
    }

    &__info {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-wrap: anywhere;
        min-height: 67px;
    }
}

.box-status {
    flex-basis: 100%;
    text-align: center;
    border-left: 1px solid #888888;

    &__title {
        background: #d9d9d980;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        height: 33px;
        border-bottom: 1px solid #404936;
    }

    &__button {
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 67px;

        &_del {
            border: 1px solid #547147;
            border-radius: 10px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #547147;
            background-color: #FFFFFF;
            height: 32px;
            max-width: 250px;
            width: 100%;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            cursor: pointer;

            &:hover {
                background-color: #547147;
                color: #FFFFFF;
            }

            &:active {
                box-shadow: inset 1px 1px 5px black;
            }
        }
    }
}