.contact {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__tall {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }

    &__a {
      text-decoration: none;
      color: #547147;
    }
  }

  .num {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }
}

.form {
  border-radius: 1.25rem;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1130px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;

    &__text {
      font-size: 24px;
      line-height: 34px;
      color: #333333;
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;

    &__text {
      min-width: 230px;
      font-size: 22px;
      line-height: 34px;
      color: #333333;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 710px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;

    &__text {
      min-width: 200px;
      font-size: 20px;
      gap: 10px;

      &__tall {
        font-size: 30px;
      }
    }

    .num {
      font-size: 24px;
    }
  }


}

@media only screen and (max-width: 680px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;

    &__text {
      min-width: 230px;
      font-size: 20px;
      line-height: 34px;
      color: #333333;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    padding: 50px 20px 60px 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;

    &__text {
      min-width: 40%;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      flex-direction: column;
      gap: 15px;

      &__tall {
        text-align: center;
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 30px;
      }
    }
  }

  .num {
    text-align: left !important;
    margin-bottom: 0px !important;
  }
}