@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.footer {
  font-family: 'Montserrat';
  font-style: normal;
  color: #333333;

  &__row {
    padding-top: 57px;
    border-top: 1px solid #547147;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__column {

    & h2 {
      width: 77px;
      margin-bottom: 20px;
      height: 28px;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
    }

    & h1 {
      height: 34px;
      min-width: 275px;
      font-weight: 600;
      font-size: 30px;
      line-height: 34px;
    }

    &-allright {
      margin-top: 28px;
      width: 173px;
      height: 36px;
      left: 72px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #888888;
    }

    &-text {
      margin-top: 15px;
      margin-bottom: 20px;
      width: 419px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }

    &-link {
      margin-top: 20px;

      a {
        &:hover {
          filter: brightness(80%);
        }
      }

      a:nth-of-type(2) {
        margin-left: 20px;
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & a {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          color: #547147;
        }
      }
    }

    & button {
      padding: 16px 32px;
      background: #547147;
      border-radius: 40px;
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      border: 0;

      &:hover {
        background: #FFFFFF;
        outline: 1px solid #547147;
        color: #547147;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .footer {
    &__logo {
      scale: 0.9;
    }

    &__row {
      padding-top: 50px;
      margin-bottom: 50px;
    }

    &__column {
      & h1 {
        min-width: 260px;
        font-size: 26px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .footer {
    &__logo {
      scale: 0.9;
    }

    &__row {
      padding-top: 40px;
      margin-bottom: 40px;
    }

    &__column {
      & h1 {
        min-width: 250px;
        font-size: 26px;
      }
    }
  }

  .question {
    h1 {
      font-weight: 600;
      font-size: 21px;
      margin-top: 0px;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 990px) {
  .footer {
    &__logo {
      scale: 0.8;
    }

    &__column {
      & h1 {
        min-width: 220px;
        font-size: 22px;
        width: 100%;
      }

      &-allright {
        width: 190px;
      }

      &-text {
        width: 100%;
        font-size: 14px;
      }
    }

    & button {
      font-size: 16px;
    }
  }


}

@media only screen and (max-width: 850px) {
  .footer {
    &__logo {
      scale: 0.7;
    }

    &__column {
      & h1 {
        min-width: 200px;
        font-size: 20px;
      }

      &-text {
        width: 100%;
        font-size: 14px;
      }
    }

    & button {
      padding: 16px 20px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 790px) {
  .footer {
    &__logo {
      scale: 0.6;
      margin-left: -40px;
    }

    &__column {
      & h1 {
        min-width: 190px;
        font-size: 18px;
      }

      &-text {
        width: 100%;
        font-size: 14px;
      }
    }

    & button {
      padding: 16px 20px;
      font-size: 14px;
    }
  }

  .logo {
    width: 220px;
  }
}


@media only screen and (max-width: 740px) {
  .footer {
    max-width: 740px;

    &__column {
      &-text {
        width: 100%;
        margin-top: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      &-link {
        margin-top: 10px;
      }

      &-nav {
        gap: 20px;
        margin-bottom: 20px;
      }

      &-allright {
        margin-top: 18px;
        width: 100%;
        height: 10px;
        left: 72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #888888;
      }
    }

    &__row {
      padding: 30px 7px 18px 7px;
      display: flex;
      flex-flow: wrap;
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }

    &__logo {
      display: none;
    }


    & button {
      padding: 11px 22px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      border: 0;
    }

    .menu {
      order: 4;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .number {
      order: 3;
    }

    .question {
      order: 2;
      margin: 30px 0px 10px;

      h1 {
        font-weight: 600;
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 0;
      }
    }
  }

  br {
    display: none;
  }
}







@media only screen and (max-width: 350px) {
  .footer {
    max-width: 404px;

    &__column {
      &-text {
        width: 100%;
        margin-top: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      &-link {
        margin-top: 10px;
      }

      &-nav {
        gap: 20px;
        margin-bottom: 20px;
      }

      &-allright {
        margin-top: 18px;
        width: 100%;
        height: 10px;
        left: 72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #888888;
      }
    }

    &__row {
      padding: 30px 7px 18px 7px;
      display: flex;
      flex-flow: wrap;
      flex-direction: column-reverse;
    }

    &__logo {
      display: none;
    }


    & button {
      padding: 11px 22px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      border: 0;
    }

    .menu {
      order: 4;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .number {
      order: 3;

      h1 {
        font-weight: 600;
        font-size: 21px;
      }
    }

    .question {
      order: 2;
      margin: 30px 0px 10px;

      h1 {
        font-weight: 600;
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 0;
      }
    }
  }

  br {
    display: none;
  }
}