.selectImpression {
  width: 440px;
  background: #F6F1E4;
  border: 1px solid #C2C2C2;
  border-radius: 10px;
  padding: 14px;
  position: absolute;
  z-index: 20;

  &__main {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__list {
    margin-top: 20px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &-info-card {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }

  &__item {
    margin-bottom: 12px;

    &-box {
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 50%;
    }
  }

  &__input {
    display: none;
  }
}

.selectImpression__box-checked {
  background: #547147;
  background-image: url('../../assets//select.png');
  background-position: center;
  background-repeat: no-repeat;
}

.selectImpression__arrow-rotate {
  transform: rotate(180deg);
}

@media (max-width: 500px) {
  .selectImpression {
    width: 275px;
    padding: 10px;
  }

}
