.slider {
  margin-top: 40px;

  &__box {
    position: relative;

    &-info {
      position: absolute;
      bottom: 50px;
      left: 50px;

      & p {
        max-width: 201px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: #DFA650;
        border-radius: 40px;
        margin-bottom: 20px;
      }

      & h1 {
        max-width: 666px;
        width: 100%;
        font-weight: 800;
        font-size: 80px;
        line-height: 84px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
      }

      & button {
        background: #F6F1E4;
        border-radius: 50px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        padding: 20px 30px;
        border: none;
        cursor: pointer;
      }
    }

    &-btns {
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: flex;
      gap: 20px;

      &-btn {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

.slider__btn-active {
  background: #fff;
}