.slider {
  margin-top: 40px;

  &__box {
    position: relative;

    img {
      max-width: 100%;
      min-height: 380px;
      height: 100%;
    }

    &-info {
      position: absolute;
      bottom: 50px;
      left: 50px;

      & p {
        max-width: 201px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: #DFA650;
        border-radius: 40px;
        margin-bottom: 20px;
      }

      & h1 {
        max-width: 666px;
        width: 100%;
        font-weight: 800;
        font-size: 80px;
        line-height: 84px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
      }

      & button {
        background: #F6F1E4;
        border-radius: 50px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        padding: 20px 30px;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
          filter: brightness(80%);
        }

        &:active {
          background: #547147;
          color: #fff;
        }
      }
    }

    &-btns {
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: flex;
      gap: 20px;

      &-btn {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

.slider__btn-active {
  background: #fff;
}


@media (max-width: 950px) {
  .slider {
    &__box {
      &-info {
        position: absolute;
        bottom: 50px;
        left: 50px;
  
        & p {
          max-width: 170px;
          font-size: 25px;
          line-height: 29px;
          padding: 10px 20px;
        }
  
        & h1 {
          max-width: 500px;
          font-size: 60px;
          line-height: 64px;
        }
  
        & button {
          font-size: 16px;
          line-height: 20px;
          padding: 12px 20px;
        }
      }
  
      &-btns {
        &-btn {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .slider .container {
 margin: 0 10px;
  }
  .slider {
    margin-top: 20px;
    &__box {
      img {
        min-height: 380px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 750px) {
  .slider {
    &__box {
      &-info {
        bottom: 80px;
        left: 20px;
        & p {
          max-width: 85px;
          font-size: 12px;
          line-height: 16px;
          padding: 6px 10px;
          margin-bottom: 16px;
        }
        & h1 {
          max-width: 450px;
          font-size: 28px;
          line-height: 32px;
          margin-bottom: 20px;
        }
        & button {
          border-radius: 40px;
          font-size: 14px;
          line-height: 18px;
          padding: 11px 22px;
        }
      }
  
      &-btns {
        bottom: 20px;
        left: 40%;
        right: 0;
  
        &-btn {
          width: 10px;
          height: 10px;
          border: 1px solid #fff;
        }
          
        }
      }
    }
  }

  @media (max-width: 450px) {
    .slider {
      &__box {
        &-info {
          & h1 {
            max-width: 300px;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }